html, body {
    box-sizing: border-box;;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #000;

    padding: 0;
    margin: 0;

    height: 100%;

    background-color: rgb(36, 36, 51);

    display: flex;
    flex-direction: column;
}

.body {
    font-weight: 700;
    color: inherit;
}

.footer {
  margin: auto auto 0 auto;
  padding: 2em;
  color: #fff;

  text-align: left;

  display: flex;
  flex-direction: column;
}

.footer li {
  list-style: square inside;
}

.container {
    height: 100%;
    margin: 0 auto;

    max-width: 1000px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2em 0;
}

.search-bar input {
    padding: 0.5em;
    border-radius: 0.7em;
}

#tags-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tag-button {
  padding: 1em;
  margin: 1em;
  background-color: rgba(255,255,255,.8);
  cursor: pointer;

  border-radius: 0.7em;
  border-style: none;
}

.tag-button-selected {
  background-color: #808080;
}

.tag-button:hover {
    transform: scale(1.03);
}

#links-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.link {
    display: block;
    width: 12em;
    height: 8em;
    margin: 0.5em;

    background-color: rgba(255,255,255,.8);

    border-radius: 0.7em;
}

.link:hover {
    transform: scale(1.03);
}

.link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    text-align: center;
    text-decoration: none;
    color: #000;
}

.link-tags {
    font-size: 0.6em;
}
